<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>731830605772-pnnp2chs2093tn4j1m6mfuheoppej3ro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.731830605772-pnnp2chs2093tn4j1m6mfuheoppej3ro</string>
	<key>API_KEY</key>
	<string>AIzaSyAj6K4SvzQQrkwALcITRX2PKwhvvyt6OdI</string>
	<key>GCM_SENDER_ID</key>
	<string>731830605772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.teddybear2022</string>
	<key>PROJECT_ID</key>
	<string>teddybear2022-59405</string>
	<key>STORAGE_BUCKET</key>
	<string>teddybear2022-59405.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731830605772:ios:dd63976c13de4121d02f69</string>
</dict>
</plist>